<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
			<h1>{{projects|length}} projects:</h1>
			<ul>
				{% for project in projects %}
					<li>{{project}}</li>
				{%endfor%}
			</ul>
			<p> {{ projects|join(', ', ' et ') }}</p>
		{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

